/* Variables */

:root {
  --main-color: #9d1f15;
  --secondary-color: #fbf7ba;
  --movie-card-color: #9d1f15;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
}

main {
  min-height: 600px;
}

img {
  width: 100%;
}

nav,
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
}

h1,
h2,
main {
  width: 90%;
  margin: auto;
}

a {
  color: #000;
  font-size: 1.1rem;
  text-transform: capitalize;
}

#filter-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#filter-form {
  width: 100%;
}

#pagination-container {
  width: 50%;
  margin: auto;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  gap: 0.5rem;
}

#numbered-pages-container {
  display: flex;
  gap: 0.5rem;
}

#cart-main h1,
#cart-main h2,
#cart-main .cart-container {
  margin: 0.2rem;
}

#confirmation-main h1,
#confirmation-main h2 {
  margin-left: 0;
  margin-right: 0;
}

#confirmation-main {
  margin-bottom: 0.5rem;
}

.purchase-confirmation-movie-card {
  width: 20%;
}

fieldset {
  border-style: none;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

main {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}

.movie-card > p,
.movie-card > h3 {
  color: var(--secondary-color);
}

header,
footer {
  background-color: var(--main-color);
}

.movie-card {
  background-color: var(--movie-card-color);
}

.movies-container,
.cart-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card,
.in-cart-movie-card {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.movie-card {
  width: 45%;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.in-cart-movie-card {
  width: 18%;
}

.discounted {
  text-decoration: line-through;
  margin-right: 3px;
}

.anchor-div {
  display: flex;
  justify-content: space-between;
}

.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 0.2rem;
  border: 1px solid #000;
}

.in-cart-movie-card {
  width: 18%;
}

.active-button {
  background-color: cadetblue;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
