/* Variables */

:root {
  --main-color: #9d1f15;
  --secondary-color: #fbf7ba;
  --movie-card-color: #9d1f15;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}

/* Colors */

main {
  background-color: var(--secondary-color);
}

.movie-card > p,
.movie-card > h3 {
  color: var(--secondary-color);
}

header,
footer {
  background-color: var(--main-color);
}

.movie-card {
  background-color: var(--movie-card-color);
}

.movies-container,
.cart-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card,
.in-cart-movie-card {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.movie-card {
  width: 45%;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.in-cart-movie-card {
  width: 18%;
}

.discounted {
  text-decoration: line-through;
  margin-right: 3px;
}

.anchor-div {
  display: flex;
  justify-content: space-between;
}

.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 0.2rem;
  border: 1px solid #000;
}

.in-cart-movie-card {
  width: 18%;
}
