/* Variables */

:root {
  --main-color: #9d1f15;
  --secondary-color: #fbf7ba;
  --movie-card-color: #9d1f15;

  --font-logo: "Monoton";
  --font-primary: "Aboreto";
  --font-secondary: "Sansation";
  --font-buttons: "PT Sans";
}

.logo {
  font-family: var(--font-logo), sans-serif;
}

h2,
.movie-card h3,
legend,
.in-cart-movie-card h3,
.confirmation-container h3,
.movie-info-div-success h4 {
  font-family: var(--font-primary), sans-serif;
}

label,
.movie-card p,
.in-cart-movie-card p,
.cart-container > p,
.cart-container > a,
.confirmation-container p {
  font-family: var(--font-secondary);
}

footer a,
button,
.anchor-div a,
.confirmation-container > a {
  font-family: var(--font-buttons);
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
}

main {
  min-height: 100vh;
}

img {
  width: 100%;
}

nav,
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
}

main {
  width: 98%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 32px auto;
}

h1,
h2 {
  width: 100%;
}

a {
  color: #000;
  font-size: 1.1rem;
  text-transform: capitalize;
}

header a {
  color: var(--secondary-color);
}

button:hover {
  cursor: pointer;
}

#search-input {
  border: solid 2px var(--secondary-color);
  border-radius: 4px;
  padding: 4px;
}

#search-input:focus {
  accent-color: #000;
}

footer a {
  font-size: 15px;
  color: var(--secondary-color);
  text-decoration: none;
}

#filter-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

#filter-form {
  width: 100%;
}

#filter-form legend {
  margin-bottom: 10px;
}

#filter-form fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

#filter-form fieldset input {
  margin-right: 5px;
}

#filter-form fieldset input {
  accent-color: var(--main-color);
}

#filter-form button,
.add-to-cart-button,
#pagination-container button,
.anchor-div a {
  background-color: var(#ffffff);
  color: var(--main-color);
  border: solid 2px var(--main-color);
  border-radius: 3px;
  padding: 1px;
}

.add-to-cart-button,
.anchor-div a {
  border: none;
}

.anchor-div a {
  background-color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
  width: 100%;
}

#pagination-container button {
  padding: 1px 4px;
}

#pagination-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#numbered-pages-container {
  display: flex;
  gap: 0.5rem;
}

#confirmation-main h1,
#confirmation-main h2 {
  margin-left: 0;
  margin-right: 0;
}

.purchase-confirmation-movie-card {
  width: 20%;
}

fieldset {
  border-style: none;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.movie-card p,
.movie-card h3 {
  color: var(--secondary-color);
}

header,
footer {
  background-color: var(--main-color);
}

.movies-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movies-container {
  gap: 10px;
}

.movie-card {
  width: 48%;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
  background-color: var(--movie-card-color);
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 3px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.movie-card img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 5px;
}

.movie-card h3 {
  font-size: 14px;
}

.movie-card p {
  font-size: 11px;
}

.add-to-cart-button,
.anchor-div a {
  font-size: 12px;
}

.discounted {
  text-decoration: line-through;
  margin-right: 3px;
}

.anchor-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-self: flex-end;
}

.anchor-div a {
  color: var(--main-color);
}

.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 0.2rem;
  border: 1px solid #000;
}

.active-button {
  background-color: orange;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

#movie-card-product img {
  max-height: none;
  margin-bottom: 0;
}

#movie-card-product {
  width: 100%;
  display: flex;
  gap: 15px;
}

#movie-card-product h3 {
  font-size: 18px;
}

#movie-card-product p {
  font-size: 14px;
}

#movie-card-product button {
  font-size: 18px;
}

#movie-card-product > * {
  width: 100%;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-info-div,
.in-cart-movie-card img,
.in-cart-movie-card .anchor-div {
  height: 120px;
}

.in-cart-movie-card {
  background-color: var(--main-color);
  padding: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-info-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.in-cart-movie-card img {
  width: 90px;
  object-fit: cover;
}

.in-cart-movie-card .anchor-div {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.cart-container > a {
  background-color: var(--main-color);
  width: 80%;
  align-self: center;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.in-cart-movie-card h3,
.in-cart-movie-card p,
.cart-container > a {
  color: var(--secondary-color);
}

.in-cart-movie-card h3,
.movie-info-div-success h4 {
  font-size: 14px;
}

.in-cart-movie-card p,
.movie-info-div-success p {
  font-size: 10px;
}

.in-cart-movie-card .anchor-div button {
  font-size: 11px;
}

.confirmation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.confirmation-container > * {
  width: 100%;
}

.success-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.purchase-confirmation-movie-card {
  width: 100%;
  display: flex;
  background-color: var(--main-color);
  padding: 5px;
}

.purchase-confirmation-movie-card img {
  height: 120px;
  width: 90px;
  object-fit: cover;
}

.movie-info-div-success {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.confirmation-container > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.confirmation-container > a {
  width: 80%;
  margin: 0 auto;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  display: block;
}

.purchase-confirmation-movie-card h4,
.purchase-confirmation-movie-card p {
  color: var(--secondary-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==== MEDIA QUERIES ==== */

@media screen and (min-width: 414px) {
  .movie-card img {
    max-height: 260px;
  }
}

@media screen and (min-width: 600px) {
  .movie-card img {
    max-height: 385px;
  }

  #movie-card-product {
    width: 50%;
    margin: auto;
  }

  .movie-card h3 {
    font-size: 18px;
  }

  .movie-card p {
    font-size: 14px;
  }

  .anchor-div a,
  .anchor-div button,
  .in-cart-movie-card .anchor-div button {
    font-size: 16px;
  }

  .cart-info-div h3,
  .purchase-confirmation-movie-card h4 {
    font-size: 18px;
  }

  .cart-info-div p,
  .purchase-confirmation-movie-card p {
    font-size: 14px;
  }

  footer a {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .movie-card {
    width: 23%;
  }

  .movie-card img {
    max-height: 220px;
  }

  .movie-card h3 {
    font-size: 18px;
  }

  .movie-card p {
    font-size: 14px;
  }

  .anchor-div a,
  .anchor-div button {
    font-size: 16px;
  }

  #filter-form button,
  #pagination-container button {
    font-size: 18px;
  }

  #search-input {
    font-size: 16px;
  }

  nav a {
    font-size: 22px;
  }

  .cart-container {
    width: 70%;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  main {
    width: 80%;
  }

  .movie-card {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 1440px) {
  .movie-card img {
    max-height: 330px;
  }

  .logo {
    font-size: 36px;
  }

  legend {
    font-size: 19px;
  }
}
